/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fjalla+One&display=swap');

/* BODY */

body{
    background-color: #FFFDF6;
    font-family: "Cantarell", sans-serif;
    background-image: url("../images/bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%;
}


/* CHECK OBJECT BOUNDARIES
 body  *{
    border: 1px solid red;
} */

/* HEADER */

.header-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    text-align: center;
}

.header-div{
    display: block;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.header-div img{
   width: 100%;

}
/* END OF HEADER */

.score-container{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 10%;
    
    
}

.score-section{

    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
}


/* FORM */

.form-container{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#quiz-param-form{
    text-align: center;
    width: 90%;
    border: solid 5px #000; 
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    background-color: #FFECDB;
}

#quiz-param-form select{
    font-size: 130%;
}

.form-header{
    margin-bottom: 15px;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 1px;
}

.form-select{
    text-align: center;
    font-size: 150%;
    padding: 10px;
}

#formSubmit{
    width: 60%;
    font-size: 150%;
    background-color: #0074D9;
    transition: all ease 0.5s;
}

#formSubmit.disabled{
    background-color: lightgrey;
    border-color: lightgrey;
    width: 40%;
}
/* END OF FORM */

/* QUIZ */
.quiz-container{
    text-align: center;
    height: 80%;

}

.question-container{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15em;

}

#question{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 1px;
    overflow: auto;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

.quiz-container button{
    width: 80%;
    border: 1px solid #0074D9;
    background-color: #BCE0FF;
}

.answer-col{
    justify-items: center;
}

.answer-button{
    padding: 10px;
    margin: 5px;
}

.hidden{
    display: none;
}
/* END OF QUIZ */

/* Score Modal */

/* The Modal (background) */
#scoreModal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    width: 80%; /* Full width */
    height: 20%; /* Full height */
    
    background-color: rgba(0,0,0,0.4); /* Black w/ transparency */
    align-items: center;
  }
  
  /* Modal Content/Box */
  .scoreModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }
  

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

/* Error Modal */

.modal-header{
    justify-content: space-between;
}


/* END OF SCORE MODAL */

  /* MEDIA QUERIES */

  /* Tablet */
  @media (min-width:768px){

    #quiz-param-form{
        width: 90%;
    }    


    .header-div img{
        width: 90%;
    }
    
    #quiz-param-form{
        width: 90%;
    }    

    #quiz-param-form select{
        font-size: 180%;
    }



  }

    /* Laptop */
    @media (min-width:1024px){

        body{
            background-size: 120%;
        }

        .header-div img{
            width: 80%;
        }

        #quiz-param-form{
            width: 70%;
        }    
    
        #quiz-param-form select{
            font-size: 180%;
        }
    
      }

    /* Laptop Large*/
    @media (min-width:1440px){

        .header-div img{
            width: 70%;
        }

    
        #quiz-param-form select, #quiz-param-form h1{
            font-size: 300%;
        }
    
      }