/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fjalla+One&display=swap');

/* BODY */

body{
    background-color: #FFFDF6;
    font-family: "Cantarell", sans-serif;
    background-image: url("../images/bg-img-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    
}

.row, .container{
    --bs-gutter-x: 0;
}

#loading-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0px;
    left: 0px;
    background-color: #ebebeb;
    text-align: center;
}

.loading-spinner{
    height: 10rem;
    width: 10rem;
    padding: 30px;
    background-color: #5056BF;
}

.loading-text{
    font-size: 300%;
    color: #5056BF;
}

.small-text{
    font-size: 150%;
}


/* HEADER */

.header-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6em;
    text-align: center;
    padding: 8px;
}

.header-div{
    display: block;
    text-align: center;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-image: url(../images/quizmaster-logo-transparent-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* END OF HEADER */

#current-question-container{
    display: none;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 2em;
    
    
}

.current-question-section{
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-right: 20px;
    font-size: 100%;
}


/* FORM */

.form-container{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#quiz-param-form{
    text-align: center;
    width: 90%;
    border: solid 5px #000; 
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    background-color: #F2F2F2;
}

.form-select{
    font-size: 100%;
    padding: 10px;
}


.form-header{
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 1px;
    font-size: 110%;
}

.form-select{
    text-align: center;
    font-size: 100%;
    padding: 10px;
}

.mb-3{
    margin-bottom: 0.5rem !important;
}

#formSubmit{
    width: 60%;
    font-size: 110%;
    background-color: #5056BF;
    transition: all ease 0.5s;
}

#formSubmit.disabled{
    background-color: #BCBBF2;
    border-color: #BCBBF2;
    color: black;
    width: 40%;
}
/* END OF FORM */

/* QUIZ */
.quiz-container{
    text-align: center;

}

.question-container{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6em;
    margin-bottom: 20px;

}

#question{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 1px;
    overflow: auto;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    font-size: 100%;
}

.answer-button{
    width: 80%;
    height: 4em;
    font-size: 80%;
    font-weight: bold;
    background-color: #f3f7fe;
    color: #5056BF;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;
    margin: 3px;
    padding: 5px;
    overflow: auto;
    line-height: 1.2em
}

.answer-button:hover{
    background-color: #030A8C;
    border: none;
    box-shadow: 0 0 0 5px #BCBBF2;
    color: #fff;
}


.answer-col{
    justify-items: center;
}

.hidden{
    display: none !important;
}


/* END OF QUIZ */

/* MODALS */

.modal-content{
    height: 18em;
    font-size: 150%;
}

.score-modal-footer{
    justify-content: center;
    padding: unset;
}

.small-modal-text{
    font-size: 80%;
}

/* Error Modal */

.modal-header{
    justify-content: space-between;
}

.modal-title{
    margin-left: 45%;
}

.modal-body{
    text-align: center;
    font-size: 80%
}


/* END OF MODALS */

  /* MEDIA QUERIES */

  @media (min-width:425px){
    .header-container{
        height: 8em;
        padding: 10px;
    }
  }

  /* Tablet */
  @media (min-width:768px){


    body{
            
        background-size: 120%;
    }

    .mb-3{
        margin-bottom: 1rem !important;
    }

    #quiz-param-form{
        width: 90%;
    }    

    .form-header{
        font-size: 200%;
    }

    .current-question-container{
        height: 3em;
    }

    .current-question-section{
        font-size: 120%;
    }

    .question-container{
        height: 13em;
    }

    #question{
        font-size: 180%;
        padding: 5px;
    }

    .answer-button{
        font-size: 150%;
        height: 3em;
        margin: 10px;

    }

    .header-div{
        background-image: url(../images/quizmaster-logo-transparent-tablet.png);
    }
    
    #quiz-param-form{
        width: 90%;
    }    

    .form-select{
        font-size: 180%;

    }

    #formSubmit{
        font-size: 180%;
        background-color: #5056BF;
        border-color: #5056BF;
    }

    .modal-title{
        font-size: 150%;
    }

    .modal-body{
        font-size: 130%;
    }

    .modal-footer > button{
        font-size: 120%;
        justify-content: space-around;
    }

  }

    /* Laptop 1280*/
@media (min-width: 1280px){
    .answer-button{
        margin: 5px;
        height: 2.5em;
    }

    .question-container{
        margin-bottom: 5px;
    }
}
    /* Desktop 1024*/
    @media (min-width:1024px){

        body{
            background-image: url(../images/bg-img-lg.jpg);
            background-position: center;
            background-size: 160%;
        }

        .header-container{
            height: 10em;
        }

        .header-div {
            width: 80%;
            background-image: url(../images/quizmaster-logo-transparent-1024.png);
        }

        .answer-button{
            font-size: 150%;
            margin: 5px;
        }




        .question-container{
            height: 13em;
        }

        #question{
            font-size: 200%;
        }

        #quiz-param-form{
            width: 70%;
        }    
    
        .form-select{
            font-size: 180%;
        }
    
      }

    /* Desktop Large 1440*/
    @media (min-width:1440px){

        .header-container{
            height: 12em;
        }

        .current-question-container{
            height: 3em;
        }

        .current-question-section{
            font-size: 150%;
        }

        .header-div{
            width: 70%;
            background-image: url(../images/quizmaster-logo-transparent-1440.png);
        }

        .answer-button{
            font-size: 220%;
            margin: 5px
        }

        .form-select, .form-header, #formSubmit{
            font-size: 300%;
        }
    

      }

      /* END OF MEDIA QUERIES */